.principalnav{
    background-color: rgb(240, 239, 239);
    position: absolute;
    top: 0;
    left: 250px;
    width: 100%;
    padding: 45px 0 30px 25px;
    a{
        text-decoration: none;
        font-weight: 600;
        color: rgb(136, 91, 136);
        margin: 0 15px;
        &:hover{
            color: purple;
        }
    }
}