@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    overflow: hidden;  
    font-family: "Open Sans", sans-serif;
}
button{
    cursor: pointer;
}
.leftPart{
    background-color: rgb(75, 1, 75);
    width: 250px;
    height: 100vh;
    text-align: center;
    img{
        margin-top: 50px;
    }
    .iconDarkMode{
        position: absolute;
        bottom: 50px;
        left: 100px; 
        .fa-moon, .fa-sun{
            color: #fff;
        }
    }
}
.imageRandom{
    position: absolute;
    bottom: 0;
    right: 0;
    img{
        display: block;
        width: 720px;
    }
}
.matchWrapper{
    width: 500px;
    position: absolute;
    top: 200px;
    left: 400px;
    width: 550px;
    .matchModel{
        display: flex;
        justify-content: end;
        div{
            margin: 0 33px;
        }
    }
    .match{
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        padding: 10px;
        &:hover{
            background-color: rgba(128, 0, 128, 0.1);
            cursor: pointer;
        
        }
        button{
            margin: 0 5px;
            padding: 5px 15px;
            border-radius: 5px;
            border: 1px solid #000;
        }
    }

}
.yourBets{
    position: absolute;
    bottom: 0;
    right: 75px;
    width: 400px;
    transform: translateY(93%);
    transition: 0.5s ease-in-out;
    .yourBetsTitle{
        background-color: purple;
        padding: 10px;
        text-align: center;
        color: #fff;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .yourBetsAdd{
        background-color: #fff;
        height: 300px;
        max-height: 300px;
        overflow-y: auto;
    }
    .gainBox{
        background-color: rgb(216, 213, 213);
        height: 150px;
        position: relative;
        .gainBoxDiv{
            @include absmiddle;
            div{
                margin-bottom: 10px;
            }
            #mise{
                width: 50px;
            }

        }
    }
}
.active{
    transform: translateY(0);
}
.activeButton{
    background-color: rgb(247, 188, 247);
    border: 1px solid purple;
    
    
}
.yourBetsAddDiv{

    padding: 25px;
    .matchDiv{
        display: flex;
        justify-content: space-between;
        
    }
    .cross{
        margin-left: 20px;
        border: none;
        background-color: transparent;
    }
}